# References: https://unix.stackexchange.com/questions/126786/systemd-timer-every-15-minutes
#
[Unit]
Description=Update machine via Ansible

[Timer]
OnBootSec=15min
OnUnitActiveSec=15min
Persistent=true

[Install]
WantedBy=timers.target
